package {package}.presenter.exception

data class ListErrorMessage(val error: String, val details: List<ErrorMessage>)

data class ErrorMessage(val code: String, val message: String, val details: String? = null)
