package {package}.presenter.exception;

import java.util.List;

public record ErrorMessage(String code, String message, String details) {
    public ErrorMessage(String code, String message) {
        this(code, message, null);
    }
}

record ListErrorMessage(String error, List<ErrorMessage> details) {
}
