package {package}.application;

import java.util.UUID;

public abstract class QueryBase<TResult> implements Query<TResult> {
    private final UUID id = UUID.randomUUID();

    @Override
    public UUID getId() {
        return id;
    }
}
